<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Blog</title>
    </head>
    <body>
        <h2>블로그에 오신 것을 환영합니다.</h2>
        <a href="/new">글쓰러 가기</a>
    </body>
</html>
