<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Blog</title>
    </head>
    <body>
        <h2>글을 쓰세요.</h2>
        <form action="/create">
            <input type="text" name="title" />
            <textarea name="content"></textarea>
            <input type="submit" value="upload" />
        </form>
    </body>
</html>
