<form action="/complete">
    제목 : <input type="text" name="title" style="width: 700px; height: 30px;"><br><br>
    <textarea name="content"
   rows="40" cols="120"></textarea><br><br>
    <input type="submit" value="등록완료">
</form>