<!Doctype HTML>
<html>
    <head>
        <title>
            우와
        </title>
    </head>
    <body>
        <% @lotto.each do |num| %>
            <h1>
                기가막힌 <%= num%>
            </h1>            
        <% end %>
    </body>
</html>