<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>결과 페이지</title>
        </head>
        <body>
            <h1>실습시간 투표 페이지</h1>
               <%=@count%>시간 뽑았구만
        </body>
    </html>
