<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>투표 페이지</title>
        </head>
        <body>
            <h1>실습시간 투표 페이지</h1>
            <form action="/result">
                1시간 <input type="radio" name="count" value="1" />
                2시간 <input type="radio" name="count" value="2" />
                3시간 <input type="radio" name="count" value="3" />
                4시간 <input type="radio" name="count" value="4" />
                <input type="submit" value="뿅!"/>
            </form>
        </body>
    </html> 
