<form action = "/post/create">
  작성자 : <input type='text' name='username'><br>
  제목 : <input type='text' name='title' placeholder='제목을 입력하세요'><br>
  내용 : <textarea name='content'></textarea><br>
  <input type='submit' value='가즈아!'><br>
</form>